@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.weather__wrapper {
    padding:24px;
    

    .weather-table {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        //grid-template-columns: repeat(3, 1fr); 
        gap: 10px;
        //background-color: #CAD2E1;
        overflow-x: auto;


        .header {
            font-weight: bold;
        }

        .weather-row {
            display: contents;

            & > div {
                padding: 8px;
                border: 1px solid #ddd;
                text-align: center;
            }

            .weather-condition {
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 30px;
                    margin-right: 5px;
                    background-color: #CAD2E1;
                    border-radius: 5px;
                }
            }
        }
    }
}
