// Typography
$font-primary: 'Titillium Web', sans-serif;

// Weights
$font-weight-regular: 400;
$font-weight-semibold: 600;

//Colors
$black: rgb(0, 0, 0);
$grey:rgb(68, 84, 102);

$blue: rgb(15, 97, 190);
$graphite: #232940;

$cloud: #BDC5D5;
$light-grey: #F7F8F9;

$green: #15B463;
$red: #C94515;

// Breakpoints
$tablet-width: 767px;
$desktop-width: 1280px;
